::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: blue; #replace blue with whatever color your want your font to be 
  opacity: 1; /* Firefox */
}

/* - DBC ACCORDION MENU - */
.accordion-button {                             /*--button when collapsed--*/
  background-color: #f9f9f9;                    /*light-gray*/
  color: #7d3564;                               /*dark-red*/
}
.accordion-button::after {                      /*--button icon when collapsed--*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(228, 209, 209)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:hover {                       /*--button on-hover--*/
  background-color: #7d3564;                    /*dark-red*/
  color: #e4d1d1;                               /*light-pink*/
}
.accordion-button:not(.collapsed) {             /*--button when expanded--*/
  background-color: #7d3564;
  color: #e4d1d1;
}
.accordion-button:not(.collapsed)::after {      /*--button icon when expanded--*/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(228, 209, 209)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-item {                               /*--expanded content--*/
  background-color: #e4d1d1;                    /*light-pink*/
  color: #7d3564;                               /*dark-red*/
}